<section class="contact-details">
    <div class="page-width">
        <div class="contact-details-wrapper">
            {% if section.settings.phone != blank %}
            <div class="detail-col">
                {%render 'phone-icon' %}
                <h5> {{ section.settings.phone_text }} </h5>
                <a href="tel:{{ section.settings.phone }}">{{ section.settings.phone }}</a>
            </div>
            {% endif %}
            {% if section.settings.email != blank %}
            <div class="detail-col">
                {%render 'email-icon' %}
                <h5>{{ section.settings.email_text }}</h5>
                <a href="mailto:{{ section.settings.email }}"> {{ section.settings.email }} </a>
            </div>
            {% endif %}
            {% if section.settings.address != blank %}
            <div class="detail-col">
                {%render 'location-icon' %}
                <h5>{{ section.settings.address_text }}</h5>
                <p>{{ section.settings.address }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name" : "Contact Details",
    "settings" :
    [
           {
                  "type": "header",
                    "content" : "Phone Details"
           },
            {
                "type": "text",
                "id": "phone_text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "phone",
                "label": "Phone Number"
            },
            {
                "type": "header",
                    "content" : "Email Details"
            },
            {
                "type": "text",
                "id": "email_text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "email",
                "label": "Email"
            },
            {
                "type": "header",
                    "content" : "Address Details"
            },
            {
                "type": "text",
                "id": "address_text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "address",
                "label": "Address"
            }
    ]
    
}
{% endschema %}